* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(22, 94, 88, 0.548);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $mainColor;
}

body {
  color: $mainColor;
  font-family: $text;
  min-height: 100vh;
}
