button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid $mainColor;
  color: $mainColor;
  border-radius: 20px;
  letter-spacing: 2px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

button:hover {
  color: rgb(6, 49, 42);
  border: none;
  border-radius: 1px;
  background: $mainColor;
  transition: 0.5s ease-in-out;
}

.button--disabled {
  background: #1d293f;
  color: #204b47;

  &:hover {
    background: #1d293f;
    color: #204b47;
    border: 1px solid red;
    border-radius: 20px;
  }
}
