.container {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background-size: 300%;
  background-image: linear-gradient(45deg, black, rgb(5, 5, 48), rgb(8, 68, 65), #00002b);
  animation: bg-animation 30s infinite alternate;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.container-alt {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.interior-container {
  width: 85vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;

  @mixin atMedium {
    flex-direction: row;
    column-gap: 15px;
  }

  @mixin atLarge {
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 100%;

      @mixin atSmall {
        width: 50vw;
      }

      @mixin atMedium {
        width: 100%;
      }
    }
  }

  &__text {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 10px;

    @mixin atLarge {
      row-gap: 18px;
    }

    &__label {
      font-size: 4vw;
      letter-spacing: 5px;
      border: 1px solid $mainColor;
      padding: 5px 15px 5px 15px;
      border-radius: 25px;

      @mixin atMedium {
        font-size: 2.5vw;
      }

      @mixin atLarge {
        font-size: 1.5rem;
      }
    }

    &__title {
      font-family: $label;
      color: white;
      font-size: 7vw;
      text-align: right;

      @mixin atMedium {
        font-size: 3.5vw;
      }

      @mixin atLarge {
        font-size: 2.7rem;
      }

      &--text-align-left {
        text-align: left;
      }
    }

    &__description {
      color: white;
      text-align: justify;
      font-size: 4vw;
      padding-top: 5px;
      border-top: 1px solid darkslategray;

      @mixin atMedium {
        font-size: 2vw;
      }

      @mixin atLarge {
        font-size: 1rem;
      }
    }

    &--flex-start {
      align-items: flex-start;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.container__hero-component-2 {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 300%;
  background-image: linear-gradient(45deg, black, rgb(5, 5, 48));
  animation: bg-animation 30s infinite alternate;
  font-family: $data;
  font-size: 2rem;
  padding-left: 7vw;
  color: white;
  padding-right: 7vw;
  text-align: center;

  &--white-bg {
    @mixin atSmall {
      color: black;
      background-color: white;
      padding: 7px;
      border-radius: 21px;
    }
  }

  &__line {
    @mixin atSmall {
      margin-top: 4vh;
    }
  }

  @mixin atSmall {
    font-size: 1rem;
    text-align: left;
    padding-right: 0;
  }

  @mixin atMedium {
    font-size: 4vw;
  }

  @mixin atLarge {
    font-size: 3rem;
  }

  @mixin atLargest {
    font-size: 4rem;
  }
}

.container__hero-component-3 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;

  &__content {
    width: 100%;
    height: 100%;
    padding: 0vh 7vw;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    background: rgba(165, 165, 165, 0.452);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__quote {
      @mixin atSmall {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15rem;
      }
    }

    &__text {
      font-size: 1.3rem;

      @mixin atMedium {
        font-size: 2vw;
      }
    }

    &__citation {
      font-family: $label;
      font-size: 2vw;
    }

    @mixin atSmall {
      text-align: justify;
    }
  }
}

.container__hero-component-5 {
  width: 100%;
  height: 100vh;
  background-color: rgb(5, 5, 48);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: $label;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.scroll p {
  font-size: 5em;
  color: $mainColor;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}

.RightToLeft {
  animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50.35%);
  }
}

.LeftToRight {
  animation: LeftToRight 10s infinite linear;
}

@keyframes LeftToRight {
  from {
    transform: translateX(-46.9%);
  }

  to {
    transform: translateX(0%);
  }
}

.container__hero-component-last {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background-color: white;

  &__content {
    color: black;
    width: 90vw;
    display: flex;
    justify-content: center;

    &-text {
      display: none;

      @mixin atLarge {
        flex: 0.85;
        font-family: $grafitti;
        font-size: 1.6rem;
        letter-spacing: 1.5px;
        border-right: 1px solid rgb(182, 182, 182);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-button {
      flex: 1;
      font-family: $data;
      font-size: 1rem;

      @mixin atSmall {
        font-size: 1.3rem;
      }
    }

    @mixin atMedium {
      width: 50vw;
    }

    @mixin atLargest {
      width: 35vw;
    }
  }
}

.radial-gradient-background {
  width: 80vw;
  height: 80vh;
  border-radius: 21px;
  background-image: linear-gradient(50deg, hsl(240deg 100% 20%) 0%, hsl(256deg 89% 25%) 4%, hsl(261deg 77% 31%) 7%, hsl(265deg 68% 37%) 11%, hsl(268deg 62% 44%) 16%, hsl(271deg 58% 50%) 20%, hsl(273deg 71% 57%) 25%, hsl(275deg 88% 64%) 31%, hsl(273deg 93% 68%) 38%, hsl(267deg 79% 70%) 45%, hsl(256deg 64% 71%) 53%, hsl(236deg 49% 71%) 61%, hsl(213deg 45% 66%) 70%, hsl(193deg 43% 59%) 80%, hsl(178deg 45% 52%) 90%, hsl(172deg 95% 40%) 100%);
  background-size: 200%;
  animation: bg-animation 7s infinite alternate;
  overflow: hidden;
}

.gradient-hover {
  background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s, border-radius 500ms;
  border-radius: 21px;
  padding: 7px;

  &:hover,
  &:focus {
    background-position: right;
    cursor: pointer;
    border-radius: 0px;
  }
}

.gradient-hover-2 {
  display: none;
  background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s, border-radius 500ms;
  border-radius: 21px;
  padding: 7px;

  &:hover,
  &:focus {
    background-position: right;
    cursor: pointer;
    border-radius: 0px;
  }

  @mixin atSmall {
    display: inline;
  }
}

.gradient-text {
  background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: bg-animation 2s infinite alternate;
}
