.container {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background-size: 300%;
  background-image: linear-gradient(45deg, black, rgb(5, 5, 48), rgb(8, 68, 65), #00002b);
  animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.container__hero-component-2 {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: 300%;
  background-image: linear-gradient(45deg, black, rgb(5, 5, 48));
  animation: bg-animation 30s infinite alternate;
  font-family: $data;
  font-size: 3rem;
  padding-left: 7vw;
  color: white;

  &__line {
    margin-top: 4vh;
  }

  @mixin atLargest {
    font-size: 4rem;
  }
}

.container__hero-component-3 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  overflow: hidden;

  &__content {
    padding: 3vh 7vw;
    color: white;
    font-size: 1.8rem;
    text-align: justify;
    background: rgba(165, 165, 165, 0.452);
    backdrop-filter: blur(30px);
  }
}

.container__hero-component-4 {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(5, 5, 48);
  overflow: hidden;
}

.container__hero-component-5 {
  width: 100%;
  height: 100vh;
  background-color: rgb(5, 5, 48);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: $label;
}

.scroll {
  white-space: nowrap;
  margin: 0 2em;
}

.scroll div {
  display: flex;
  gap: 2em;
}

.scroll p {
  font-size: 5em;
  color: $mainColor;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}

.RightToLeft {
  animation: RightToLeft 10s infinite linear;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50.35%);
  }
}

.LeftToRight {
  animation: LeftToRight 10s infinite linear;
}

@keyframes LeftToRight {
  from {
    transform: translateX(-46.9%);
  }

  to {
    transform: translateX(0%);
  }
}

.radial-gradient-background {
  width: 80vw;
  height: 90vh;
  border-radius: 21px;
  background: linear-gradient(360deg, #00c9ff 0%, #92fe9d 100%);
  transform: translateY(8vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--flipped {
    width: 80vw;
    height: 90vh;
    border-radius: 21px;
    background: linear-gradient(180deg, #00c9ff 0%, #92fe9d 100%);
    transform: translateY(-8vh);
  }
}

.gradient-hover {
  background-image: linear-gradient(45deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s, border-radius 500ms;
  border-radius: 21px;
  padding: 7px;

  &:hover,
  &:focus {
    background-position: right;
    cursor: pointer;
    border-radius: 0px;
  }
}
