header {
  position: absolute;
  width: 90vw;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19;
  display: flex;
  padding-top: 20px;
}

.logo {
  transform: translateY(-27px) translateX(-20px);

  &-icon {
    &:hover {
      cursor: pointer;
    }
  }

  &__version-text {
    margin-left: 20px;
    font-family: $smooch;
    font-size: 5rem;
    display: none;
    transform: translateY(-7px);

    @mixin atSmall {
      margin-left: 5px;
      transform: translateY(-20px);
    }

    @mixin atMedium {
      display: inline-block;
      margin-left: 5px;
      transform: translateY(-20px);
    }

    @mixin atLarge {
      margin-left: 5px;
      transform: translateY(-20px);
    }
  }

  @mixin atSmall {
    transform: translateY(-27px) translateX(0);
  }

  @mixin atLarge {
    transform: translateY(0);
  }
}

.menu-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;

  .connect-wallet-btn {
    order: 2;
  }

  .header-nav {
    display: none;

    &__links {
      position: relative;
      color: rgb(129, 129, 129);
      display: inline-block;
      margin-right: 35px;
      padding: 10px;
      width: 80px;
      font-family: $text;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: color 300ms ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
      }

      &:hover::before,
      &:focus::before {
        transform: scaleX(1);
      }

      &:hover,
      &:focus {
        cursor: pointer;
        color: white;
      }

      &--active {
        color: $mainColor;
      }
    }

    @mixin atLarge {
      display: block;
    }
  }

  &__menu-icon {
    order: 3;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &--active {
      z-index: 20;
    }

    @mixin atSmall {
      margin-left: 40px;
    }

    @mixin atLarge {
      display: none;
    }
  }
}
