.hero {
  &__title {
    font-family: $data;
    font-size: 1rem;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 3rem;
    }

    @mixin atLarge {
      font-size: 3.3rem;
    }
  }

  &__subtitle {
    font-family: $label;
    color: white;
    margin-top: 10px;
    font-size: 1.3rem;
    text-align: center;

    @mixin atMedium {
      font-size: 2rem;
      text-align: left;
    }
  }

  &__subtitle-brief {
    font-family: $data;
    color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    width: 70%;

    &__left-block {
      flex: 1;
      display: flex;
      justify-content: center;

      @mixin atMedium {
        flex: 0.8;
        justify-content: flex-start;
      }
    }

    &__right-block {
      display: none;

      @mixin atMedium {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid white;
      }
    }
  }
}

.hero-component-1 {
  width: 80vw;
  height: 600px;
  display: flex;
  justify-content: center;

  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @mixin atMedium {
      width: 60%;
    }

    @mixin atLarge {
      flex: 1;
      align-items: flex-start;
    }
  }

  &__right-block {
    display: none;

    @mixin atLarge {
      flex: 2;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @mixin atLargest {
    width: 60vw;
  }
}
