.interface {
  font-size: 0.8rem;

  &__top {
    flex: 1;
    background-color: #131a2a;
    margin: 2px;
    border-radius: 20px;
    border: 1px solid $mainColor;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__bottom {
    flex: 2;
    background-color: #131a2a;
    margin: 5px 2px 2px 2px;
    border-radius: 20px;
    border: 1px solid $mainColor;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__function-nav {
    flex: 1;
    border-bottom: 3px solid white;
    margin: 1px;
  }

  &__function-description {
    flex: 2;
    color: white;
    line-height: 1.1rem;
    padding: 10px 1px 5px 1px;
  }

  &__function-title {
    font-family: $label;
    flex: 1;
    margin: 1px;
    border-bottom: 3px solid white;
    font-size: 2.5rem;
    position: relative;

    p {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 0;
    }

    @mixin atLarge {
      font-size: 3rem;
    }
  }

  &__function-field {
    font-family: $data;
    flex: 4;
    margin: 1px;
    padding-top: 25px;

    &--overflow {
      overflow-y: auto;
    }

    .input-box {
      position: relative;
      height: 65px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        padding-left: 20px;
        border: 1px solid white;
        border-radius: 13px;
        background: transparent;
        box-sizing: border-box;
        outline: none;
        color: white;
      }

      span {
        position: absolute;
        top: 10px;
        left: 22px;
        display: inline-block;
        transition: 0.5s;
        pointer-events: none;
      }

      input:focus ~ span,
      input:valid ~ span {
        transform: translateX(-10px) translateY(-28px);
        font-size: 0.8rem;
      }
    }
  }

  @mixin atSmall {
    font-size: 1rem;
  }
}

.non-visible {
  display: none;
}
