nav {
  display: flex;
  justify-content: space-between;
  overflow: scroll;

  @mixin atLarge {
    overflow: visible;
  }
}

li {
  font-family: $label;
  font-size: 0.8rem;
  color: rgb(129, 129, 129);
  width: 100%;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 21px;
  text-align: center;
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}

li:hover,
li:focus {
  background-color: rgb(0, 38, 63);
  color: white;
}

.active-tab {
  background-color: white;
  border: none;
  color: black;
}
