.modal-card {
  position: absolute;
  right: 30;
  top: 30;
  background-color: #131a2a;
  width: 300px;
  height: 400px;
  z-index: 100;
  border: 1px solid $mainColor;
  border-radius: 20px;
  box-shadow: 8px 15px 3px 10px rgba(0, 0, 0, 0.253);
}
