.stats-board {
  &__description {
    flex: 3;
    margin: 2px;
    color: white;
    position: relative;

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      transition: transform 1s ease-in-out;
    }

    &-icon:hover {
      transform: rotate(300deg);
    }
  }

  &__index {
    font-family: $data;
    flex: 1;
    margin: 2px;
    color: white;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-size: 0.8rem;

    &-container {
      transform: translateY(-10px);
    }

    &--larger {
      font-weight: 1000;
      font-size: 1rem;
    }

    &--dark-purple {
      color: rgb(118, 59, 212);
    }

    &-icon {
      display: inline-block;
      transform: translateY(8px);
      margin-right: 5px;
    }
  }

  &__contracts {
    flex: 2;
    margin: 2px;
    font-size: 0.6rem;
    color: white;
    border-bottom: 1px solid rgb(172, 172, 172);

    &--link-styling {
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: blue;
    }
  }

  &__rates {
    flex: 2;
    margin: 2px;
    color: white;
    font-size: 0.7rem;
  }

  &--no-margin {
    margin: 0;

    &-bottom {
      margin-bottom: 0;
    }
  }

  &--gray-color {
    color: rgb(151, 151, 151);
  }

  &--label-font {
    font-family: $label;
    letter-spacing: 4px;
  }
}
